.ui.secondary.menu {
  padding: 10px 0 0 10px;
  background-color: rgb(151, 246, 246, .15);
  font-size: 1.5rem;
}

.welcome {
  text-align: center;
  padding: 50px 0;
  font-size: 5.5rem;
  line-height: 6.5rem;
  font-family: 'Oooh Baby', cursive;
}

.about {
  background-color: rgb(251, 249, 249, .5);
}
.ui.container.about {
  padding: 15px 0;
  font-size: 1.5rem; 
}

.about-description {
  padding: 15px 0;
}

/* Footer */
.ui.container.footer {
  padding-top: 15px;
  text-align: center;
  /* font-size: 1.5rem; */
}